p
{ background-color:rgb(228, 206, 239);
    margin: 30px;
    padding-top: 20px;
    color:purple;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
.highlight_01 {background: #aef39a;font-size: larger;}
.highlight_02 {background: #ffa6d8;}
.meow {color: aqua;}
}

p{
    font-weight: bold;
}

p strong
{
    font-weight: normal;
}
